*, *:before, *:after {
      
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
}
html {
      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
body, html {
      height: 100%;
      margin: 0;
    }


/*navigation css*/
.navbar-nav{display: flex;
      flex-direction :row;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: #FFFFFF;
      padding: 5px;
      margin: 0 0 5px 0;
      * {
            margin: 0 10px;}
   
      }
.bg-light{
         background-color: #FFFFFF!important;
}

.nav-link{color: grey;}

.nav-item{padding-left:50px;
         
         }

/* home page */

#home{background-color:#70aab5;
      background-size: cover;
      height:100vh;
      position:relative;
      bottom:15px;
      left:15px;
      right:15px;
      background-position: top;
      background-repeat: no-repeat;
      background-attachment:fixed;
     


 } 
 /*side -image*/
 #self{background-image: url("bg-photos/snowflakes.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height:100vh;
      width: 80vw;
     
}
/*self photo*/
img {
      border-radius: 50%;
      background-size: cover;

}

    
#pic{      text-align:center; 
           position: relative;
           top:20vh;
           
           
} 
/* name */   
#intro{
      font-size: 5rem;
      line-height: .5;
      color:#8f6d6b;
      text-align:left;
      position: relative;
      top:65vh;
      left:2vw;
      
}
/* contact info */
#info{    
      color:#544746;
      text-align:center;
      position: relative;
      top:20vh;
     
      
} 

/* about page*/
#about{background-color: white;
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      
      }
        
         
#flower{background-image: url("bg-photos/flower_bloom_about.jpg");
          margin-top:100px;
          margin-bottom:100px;
          background-size: cover;
          padding:100px;

}
#banner{
       border-width: 15px;
       border-style: solid;
       border-color: white;
       text-align: center;
       color: rgb(46, 88, 46);
       letter-spacing: 3px;
       font-family: 'Playfair Display', ;
}
#summary{padding:100px;
        text-align: left;
        text-size-adjust:auto ;
        color:grey;
        font-style: italic;
        font-family: "Times New Roman", Times, serif;
}
/*Education and Skills page*/
#edu-skil{background-color: #75a1bd;
      height:100vh;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

}
/*Software*/
#educations{position: relative;
            top:10vh;
            color:#22162e;


}
.diploma-btn{color: #b85a12;
             border-style: solid;
             background-color: transparent;
             border-color:  #b85a12;

}

/*pastry*/
.pastry-btn{color: #b85a12;
            border-style: solid;
            background-color: transparent;
            border-color:  #b85a12;

}

/*bachelor*/
.bachelor-btn{color:#b85a12;
          border-style: solid;
          background-color: transparent;
          border-color:  #b85a12;

}

/*skills column*/
#language
#softskills

#hardskills
.modal{color:olive;
      font-style: italic;
      font-family: "Times New Roman", Times, serif;
      

}
.modal-body,.modal-content{background-color: Beige;


}
.modal-content {
      margin: auto;
      display: block;
      
}

 
 






/* Connect page*/
#connect{background-image: url("bg-photos/connect-bg.jpg");
         height:100vh;  
         background-position: center center;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
         
        
}
#contact{border-width: 8px;
      border-style: solid;
      border-color:#ad9f87;
      text-align: center;
      text-size-adjust:auto ;
      height:10vh;
      width:80vw;
      color: rgb(46, 88, 46);
      letter-spacing: 3px;
      font-family: 'Playfair Display', ;
      font-size: 4rem;
      background-image: url("bg-photos/connect-banner-bg.jpg");
}
form{ 
      font-family: 'Playfair Display', ;
      width:80vw
      border-width: 5px;
      border-style: dotted;
      border-color: #ad9f87;
      color:rgb(46, 88, 46);
      background-color: rgb(255, 255, 255,0.8);
}
.btn{display: inline-block;
      font-weight: 400;
      text-align:center;
      vertical-align:middle ;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
}
.btn-form{
      color:beige;
      background-color: #ad9f87;}