
body, html {
      height: 100%;
      margin: 0;
    }

/*navigation css*/
.bg-light{
         background-color: white!important;
}   

.navbar{justify-content: center!important;
}

.navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
}

.nav-link{color: grey;
}

.nav-item{padding-left:50px;
         
}


/* home page */
#home{background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width:100vw;
}


/*profile column*/
#profile{background-color:#70aab5;
         background-position: right;
         background-repeat: no-repeat;
         background-size: cover;
         height:100vh;
         position: relative;
         text-align: center;
}


/*profile info*/
#profile-info{position: relative;
              color:#8f6d6b;
              text-align:left;

}

/*self column*/
#self{background-image: url("bg-photos/snowflakes.jpg");
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      color:#a89882;
      text-align:left;
      height:100vh;
      position: relative;
      
} 
      
  

/* about page*/
#about{background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center; 
}
        
         
#flower{background-image: url("bg-photos/flower_bloom_about.jpg");
          margin-top:20vh;
          margin-bottom:20vh;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          padding:100px;

}

#banner{
       border-width: 15px;
       border-style: solid;
       border-color: white;
       text-align: center;
       color: rgb(46, 88, 46);
       letter-spacing: 3px;
       font-family: 'Playfair Display', ;
}

#summary{padding-top:20vh;
         padding-left:50px;
         text-align: left;
         text-size-adjust:auto ;
         color:grey;
         font-style: italic;
         font-family: "Times New Roman", Times, serif;
}

/*Education page*/
#education{background-image: url("bg-photos/education-bg.jpg");
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          color:#0c3d1a;

}


/*Software*/
.software-btn{color: #0c3d1a;
             border-style: solid;
             background-color: #cc916e;
             border-color:  #cc916e;

}

/*pastry*/
.pastry-btn{color: #0c3d1a;
            border-style: solid;
            background-color:#cc916e;
            border-color:  #cc916e;

}

/*engineer*/
.engineer-btn{color:#0c3d1a;
              border-style: solid;
              background-color: #cc916e;
              border-color:  #cc916e;

}

/*skills column*/
#skills{ background-image: url("bg-photos/skills-bg.jpg");background-position: center center;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
         color:#e0b9af;
         
}

/*modal for education details*/
.modal{color:olive;
      font-style: italic;
      font-family: "Times New Roman", Times, serif;
      

}
.modal-body,.modal-content{background-color: Beige;


}
.modal-content {
      margin: auto;
      display: block;
      
}

/*Experience page*/
#experience{background-color: white;
            color:teal;

}

#job-pastry, #job-engineer{color:#7a420a;


}


/*Achievement page*/
#achievement{background-image: url("bg-photos/employment-bg.jpg");
             background-position: center center;
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;
             color:#f2a005;
      
     
}


/* Connect page*/
#connect{background-image: url("bg-photos/connect-bg.jpg");
         background-position: center center;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
        
}

#contact{border-width: 8px;
      border-style: solid;
      border-color:#ad9f87;
      text-align: center;
      text-size-adjust:auto ;
      position: relative;
      top:25px;
      height:10vh;
      color: rgb(46, 88, 46);
      letter-spacing: 3px;
      font-family: 'Playfair Display', ;
      background-image: url("bg-photos/connect-banner-bg.jpg");
}
/*form */
form{ 
      font-family: 'Playfair Display', ;
      border-width: 5px;
      border-style: solid;
      border-color: #ad9f87;
      color:rgb(46, 88, 46);
      background-color: rgb(255, 255, 255,0.8);
}

.btn{display: inline-block;
      font-weight: 400;
      text-align:center;
      vertical-align:middle ;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
}

.btn-form{
      color:beige;
      background-color: #ad9f87;
}
/*footer*/
.footer {
      top:2vh;
      left: 0;
      bottom: 0;
      width:100vw;
      color: black;
      text-align: center;
   }