*, *:before, *:after {
      
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
}
html {
      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
body, html {
      height: 100%;
      margin: 0;
    }
/*body css*/
body{ overflow-x: auto;
      overflow-y: scroll;
      margin-left: auto;
     margin-right: auto;
      
     }

/*navigation css*/
.navbar-nav{display: flex;
      flex-direction :row;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: #FFFFFF;
      padding: 5px;
      margin: 0 0 5px 0;
      > * {
        margin: 0 10px;}
      }
.bg-light{
         background-color: #FFFFFF!important;
}

.nav-link{color: grey;}

.nav-item{padding-left:50px;
         
         }

/* home page*/ 
.row{width:100%;

}
#home{
      background-image: url("bg-photos/home-flakes.jpg");
      padding-top: 200px;
      background-size: cover;
      
      min-height: 700px;
      max-width:100%;
      background-position: top;
      background-repeat: no-repeat;
      background-attachment:fixed;
      
      
     
      } 
      
#name{    
          font-size: 6rem;
           color:white;
           text-align: center;

           
      }
#surname{  
            font-size: 6rem;
             color:white;
             text-align: left;
             
} 
#intro{ font-size:xx-large;
      color:white;
      text-align:center;
      padding-left :300px;
      
}  
/* about page*/
#about{background-color: white;
      height: 100vh;
      min-height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      
      }
        
         
.col-sm-5{background-image: url("bg-photos/flower_bloom_about.jpg");
          margin-top:100px;
          margin-bottom:100px;
          background-size: cover;
          padding:100px;

}
#banner{
       border-width: 15px;
       border-style: solid;
       border-color: white;
       
       text-align: center;
       
       color: rgb(46, 88, 46);
       letter-spacing: 3px;
       font-family: 'Playfair Display', ;
}
#summary{padding:100px;
      text-align: left;
      text-size-adjust:auto ;
      color:grey;
      font-style: italic;
      font-family: "Times New Roman", Times, serif;
}
/* resume page*/
#resume{background-color: white;
      height:100vh;
      min-height: 500px;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

}
#info-bg{min-height:350px;
      min-width:250px;
      background-image: url("bg-photos/resume-info-bg.jpg");
      background-size: cover;
      text-align: center;
      color:grey;
     

}

.modal{color:olive;
      font-style: italic;
      font-family: "Times New Roman", Times, serif;
      

}
.modal-body,.modal-content{background-color: Beige;


}
.modal-content {
      margin: auto;
      display: block;
      
    }
#educations-bg{min-height:350px;
           min-width:250px;
           background-image: url("bg-photos/resume-education-bg.jpg");
           background-size: cover;
           text-align: left;
           background-position: center;
           


}

#certificates-bg{min-height:350px;
             min-width: 250px;
             background-image: url("bg-photos/resume-certificate-bg.jpg");
             background-size: cover;
             text-align: left;
             
}

#employment-history-bg{min-height:350px;
             min-width:250px;
             background-image: url("bg-photos/resume-employment-bg.jpg");
             background-size: cover;
             text-align: left;
             

            }
  
#skills-bg{min-height:350px;
       min-width:250px;
       background-image: url("bg-photos/resume-skills-bg.jpg");
       background-size: cover;
       text-align: left;
       

}

#projects-bg{min-height:350px;
        min-width:250px;
        background-image: url("bg-photos/resume-project-bg.jpg");
        background-size: cover;
        text-align: left; 
        

}
  
 /* Bottom right text */
/* Button css  for light background*/
.education-button {
      position: absolute;
      bottom: 8px;
      right: 100px;
      width:100px;
      height:50px;
      font-size:xx-large;
      color:#285e36;
      border-style: none;
      background-color: transparent;
      border-color: transparent;
 }
 .info-button{
      position: absolute;
      bottom: 8px;
      right: 20px;
      width:100px;
      height:50px;
      font-size:xx-large;
      color:#285e36;
      border-style: none;
      background-color: transparent;
      border-color: transparent;
 }
 .employment-button{
      position: absolute;
      bottom: 8px;
      right: 140px;
      width:100px;
      height:50px;
      font-size:xx-large;
      color:#285e36;
      border-style: none;
      background-color: transparent;
      border-color: transparent;
 }
 /* Button css  for dark background*/
 .certificate-button{position: absolute;
      bottom: 8px;
      right: 102px;
      width:110px;
      height:50px;
      font-size:xx-large;
      color: #ccac6c;
      border-style: none;
      background-color: transparent;
      border-color: transparent;

 }
 .skill-button{position: absolute;
      bottom: 8px;
      right: 26px;
      width:100px;
      height:50px;
      font-size:xx-large;
      color: #ccac6c;
      border-style: none;
      background-color: transparent;
      border-color: transparent;

 }
.product-button {
      position: absolute;
      bottom: 8px;
      right: 66px;
      width:100px;
      height:50px;
      font-size:xx-large;
      color: #ccac6c;
      border-style: none;
      background-color: transparent;
      border-color: transparent;
    }
/* Creation page CSS */
#creation{
      background-color:white;
      padding-top: 200px;
      background-size: cover;
      min-height: 700px;
      max-width:100%;
      background-position: top;
      background-repeat: no-repeat;
      background-attachment:fixed;
      
} 
   
/* audio */
#audio{background-image: url("bg-photos/hifi.jpeg");
      padding-top: 10px;
       padding: 0;
       margin:10px;
       width:250px;
       min-height:250px;
       background-size: contain;
       background-repeat: no-repeat;
       border-collapse: collapse;
       border-width: 0;

}
/*Thermal printer*/
#thermal{background-image: url("bg-photos/thermal.jpg");
         padding : 0;
         margin:10px;
         width:250px;
         min-height:250px;
         background-size: contain;
         background-repeat: no-repeat;
}

/* OfficeJet Printer*/
#printer{background-image: url("bg-photos/printer.jpeg");
         padding : 0;
         margin:0;
         width:250px;
         min-height:250px;
         background-size: contain;
         background-repeat: no-repeat;

}
/*pastry*/
#pastry{background-image: url("bg-photos/printer.jpeg");
      padding : 0;
      margin:0;
      width:250px;
      min-height:250px;
      background-size: contain;
      background-repeat: no-repeat;

}


/* Connect page*/
#connect{background-image: url("bg-photos/connect-bg.jpg");
      height:100vh;
      min-height: 500px;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      padding-top:200px;
}
#contact{border-width: 8px;
      border-style: solid;
      border-color:#ad9f87;
      text-align: center;
      text-size-adjust:auto ;
      height:100px;
      width:800px;
      color: rgb(46, 88, 46);
      letter-spacing: 3px;
      font-family: 'Playfair Display', ;
      font-size: 4rem;
      background-image: url("bg-photos/connect-banner-bg.jpg");


}
.container-fluid{width: 100%;
      
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-top: auto;



}
form{ 
      font-family: 'Playfair Display', ;
      width:800px;
      border-width: 5px;
      border-style: dotted;
      border-color: #ad9f87;
      color:rgb(46, 88, 46);
      background-color: rgb(255, 255, 255,0.8);
}
.btn{display: inline-block;
      font-weight: 400;
      text-align:center;
      vertical-align:middle ;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
}
.btn-form{
      color:beige;
      background-color: #ad9f87;}